.gwt-StackPanel {
	border: 2px solid green;
}

.gwt-StackPanel td {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #22d;
  border: 1px solid #00a;
  cursor: pointer;
  cursor: hand;
  padding: 3px;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
	border: 1px solid #ccf;
}
