

.containerbox {position: relative; top: 2%; left: 2%; width: 96%; height: 96%; background-image: url(../ccgreenback.jpg);}

.Iconbox { position: absolute; top: 0%; left: 0%; width: 13%; height: 100%; text-align: center; background-image: url(../GameTextures/greencolumn.jpg); background-repeat: repeat-y;
background-position:center 0 }
.InventoryContainer { position: absolute; top: 27%; left: 15%; width: 85%; max-width: 127px; text-align: center; }
.NotebookContainer { position: absolute; top: 50%; left: 15%; width: 75%; text-align: center;}
.ControllPanelContainer { position: absolute; top: 70%; left: 20%; width: 85%;  text-align: center; }
.FeetContainer { position: absolute; bottom: 0%; width: 100%; left: 0%; text-align: center; }

.GameBox { position: absolute; top: 0%; left: 13%; width: 65%; height: 100%;  }
.titlecontainer { position: absolute; top: 0%; left: 0%; width: 100%; height: 5%; text-align: center}
.bigtextboxcontainer { position: absolute; top: 5%; left: 0%; width: 100%; height: 80%;}
.feedbackcontainer { position: absolute; bottom: 4%; width: 100%; height: 11%; background: black;}
.ansbarcontainer { position: absolute; left: 28%; bottom: 0%; width: 100%;  height: 4%;  }


.ChapterBox { position: absolute; top: 0%; left: 78%; width: 22%; height: 100%;  }

.chapterlistcontainer { position: absolute; top: 6%; left: 0%; width: 100%; height: 50%; }
.musicControllcontainer { position: absolute; top: 57%; left: 0%; width: 100%; height: 5%; }
.ForumLinkcontainer { position: absolute; top: 60%; left: 20%; width: 30%; height: 15%; }

.soldierContainer { position: absolute; bottom: 0%; right: 0%; z-index: 30;}
.soldier { position: relative; top: 10px; left: 3px;}

