.wrapperTable input {
	margin: 10px;
}

.sph-Slider {
	width: 500px;
	height: 16px;
	border:none;
	border-collapse: collapse;
	empty-cells:show;
	cursor:move;
}

.sph-Slider-LeftTop, .sph-Slider-LeftBottom,
.sph-Slider-RightTop, .sph-Slider-RightBottom {
	height: 3px;
}

.sph-Slider-Left, .sph-Slider-Center, .sph-Slider-Right {
	height: 10px;
}
.sph-Slider-Left {
	border: 1px solid green;
	border-right: none;
}
.sph-Slider-right {
	border: 1px solid green;
	border-left: none;
}

.sph-Slider-rightBottom {
	border-bottom: 1px solid black;
}

.sph-Slider-Left {
	background-image: url( gradient_green_left.png );
	background-position: right;
	background-repeat:no-repeat;
	padding: 0;
}
.sph-Slider-Right {
	background-image: url( gradient_green_right.png );
	background-position: left;
	background-repeat:no-repeat;
	text-align: right;
	padding: 0;
}
.sph-Slider-Center {
	border: 1px solid green;
	width: 6px;
}
.sph-Slider-SelectableMinimum,
.sph-Slider-SelectableMaximum {
	background-color: #ff0000;
	height: 10px;
	font-size: 1px;

}
.sph-Slider-SelectableMaximum {
	float: right;
}
