.sph-VerticalSlider {
	height: 500px;
	max-height: 500px;
	width: 18px;
	border:none;
	border-collapse: collapse;
	empty-cells:show;
	cursor:move;
}

.sph-VerticalSlider-LeftTop, .sph-VerticalSlider-LeftBottom,
.sph-VerticalSlider-RightTop, .sph-VerticalSlider-RightBottom {
	width: 3px;
}

.sph-VerticalSlider-Left, 
.sph-VerticalSlider-Center, 
.sph-VerticalSlider-Right {
	width: 10px;
}
.sph-VerticalSlider-Left {
	border: 1px solid green;
	border-bottom: none;
	vertical-align:top;
}
.sph-VerticalSlider-right {
	border: 1px solid green;
	border-top: none;
	vertical-align:bottom;
}

.sph-VerticalSlider-rightBottom {
	border-left: 1px solid black;
}

.sph-VerticalSlider-Left {
	background-image: url( vertical_gradient_green_left.png );
	background-position: bottom;
	background-repeat:no-repeat;
	padding: 0;
}
.sph-VerticalSlider-Right {
	background-image: url( vertical_gradient_green_right.png );
	background-position: top;
	background-repeat:no-repeat;
	text-align: right;
	padding: 0;
}
.sph-VerticalSlider-Center {
	border: 1px solid green;
	height: 6px;
}
.sph-VerticalSlider-SelectableMinimum,
.sph-VerticalSlider-SelectableMaximum {
	background-color: #ff0000;
	width: 10px;
	font-size: 1px;
	position: relative;
	overflow:hidden;
}
