
.gv-core-WiseTextBox {
	padding: 2px;
}
.gv-core-WiseTextBox-noborder {
	padding: 4px;
	border: 0;
}
.gv-core-WiseTextBox-default {
	padding: 2px;
	color: grey;
	font-style: italic;
}
 
 
.gv-core-WiseTextArea {
}
.gv-core-WiseTextArea-break {
  	/*CSS3 long word breaking*/
  	word-break: break-all;
}
.gv-core-WiseTextArea-noborder {
	border: 0;
}
.gv-core-WiseTextArea-default {
	color: grey;
	font-style: italic;
}


.gv-core-WiseRichTextArea {
}
.gv-core-WiseRichTextArea-break {
  	/*CSS3 long word breaking*/
  	word-break: break-all;
}
.gv-core-WiseRichTextArea-noborder {
	border: 0;
}
.gv-core-WiseRichTextArea-default {
	color: grey;
	font-style: italic;
}


/* loading widget */
.gv-core-loadingwidget {
	color: #CC9900;
}
.gv-core-loadingwidget-error {
	color: #CC0033;
}