.gwt-StackPanel {
	border: 2px solid #f7edd5;
}

.gwt-StackPanel td {
  background-image: url(../GameTextures/yellowpaper.png);
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #004425;
  border: 1px solid #006236;
  cursor: pointer;
  cursor: hand;
  padding: 3px;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
	border: 1px solid #004425;
}
